@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #0d9488; 
  --color-primary-content: #ffffff;
  --color-secondary: #0f172a;
  --color-accent: #0d9488; 
  --color-base-100: #ffffff;
  --color-base-200: #f8fafc;
  --rounded-box: 0px;
  --rounded-btn: 0px;
  --rounded-badge: 0px;
  --tab-radius: 0px;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  font-family: sans-serif;
  background-color: var(--background);
  color: var(--foreground);
}
